<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/(?:\ Ballot169)?
RewriteRule ^(.*)$ index.php/$1 [L] 
</IfModule>
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType text/plain "access plus 1 second"
</IfModule>

<IfModule mod_headers.c>
    <FilesMatch "\.txt$">
        Header set Cache-Control "public, max-age=1"
    </FilesMatch>
</IfModule>